img {border-style: solid;}
table {
  font-family: comic sans, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #F0F8FF;
}
tr:nth-child(odd) {
  background-color: #D3D3D3;
}

.com_borda{
  border-style: solid;
  background-color: #F0F8FF
}

#color {
  color: red;

}
