.topnav {
  text-align: center;
  background-color: white

}

/* Navbar links */
.topnav a {
  float: center;
  color: MediumSeaGreen;
  text-align: center;
  font-size:120%;
  background-color: white;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: MediumSeaGreen;
  color: white;
}

  p {
    border: 2px solid MediumSeaGreen;
    margin: 5px 5px 5px 25px;
    background-color: white;
  }

  h1 {

    font-family: Trebuchet MS;
    color:white;
    border: 2px solid white;
  }
  h2 {
    font-family: Trebuchet MS;
    color:MediumSeaGreen;
    border: 2px solid MediumSeaGreen;
    background-color: white;
    font-size:150%;
  }


  a {
    margin: 5px 5px 5px 5px;
    background-color: white;
  }

  * {
    box-sizing: border-box;
  }
  .menu {
    float:left;
    width:20%;
    text-align:center;
  }
  .menu a {
    background-color:#e5e5e5;
    padding:8px;
    margin-top:7px;
    display:block;
    width:100%;
  }

  .main {
    float: left;
    width: 80%;
    padding: 0 20px;
  }

  .rigth {
    background-color: white;
    float:left;
    width:20%;
    padding:15px;
    margin-top:7px;
    text-align:center;
  }

  table {
    background-color: white;
    border: 2px solid MediumSeaGreen;
    font-size:150%;
    text-align: center;
  }


  img {
    float: right;
  }

  @media only screen and (max-width:620px) {

    /* For mobile phones: */
    .menu,
    .main,
    .right {
      width: 100%;
    }
